version: 2.1

orbs:
  vr: kohirens/version-release@5.1.9
  aws: circleci/aws-cli@5.4.1

parameters:
  ctx_auto_release:
    default: kohirens-automation
    description: Secrets context
    type: string
  ctx_iac_test:
    default: iac-testing
    description: Secrets context
    type: string
  triggered_by_bot:
    default: false
    description: Trigger publishing a release tag workflow.
    type: boolean
  triggered_flow:
    default: "workflow-selector"
    description: Workflow to be executed.
    type: string

commands:
  aws-oidc-setup:
    description: Setup AWS auth using OIDC token
    parameters:
      session_duration:
        default: 900
        type: integer
    steps:
      - run:
          name: Get AWS credentials
          command: |
            echo "AWS region: ${AWS_REGION}"
            set -- $(aws sts assume-role-with-web-identity --role-arn "${CIRCLECI_OIDC_ROLE_ARN}" --role-session-name "${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}" --web-identity-token "${CIRCLE_OIDC_TOKEN_V2}" --duration-seconds << parameters.session_duration >> --query 'Credentials.[AccessKeyId,SecretAccessKey,SessionToken]' --output text --region "${AWS_REGION}")
            aws_key="${1}" && shift
            aws_secret="${1}" && shift
            aws_token="${1}" && shift
            mkdir -p ~/.aws
            echo '[default]' > ~/.aws/credentials
            echo "aws_access_key_id=${aws_key}" >> ~/.aws/credentials
            echo "aws_secret_access_key=${aws_secret}" >> ~/.aws/credentials
            echo "aws_session_token=${aws_token}" >> ~/.aws/credentials
            if [ -f ~/.aws/credentials ]; then
                echo "credentials retrieved"
                aws s3 ls
                exit 0
            fi
            echo "could not retrieve credentials"
            exit 1
      - run:
          name: Verify AWS credentials
          command: |
            aws sts get-caller-identity
executors:
  def:
    docker:
      - image: cimg/go:1.24

jobs:
  co:
    executor: def
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.mod" }}
      - run:
          name: Install Dependencies
          command: go mod tidy
      - save_cache:
          key: go-mod-v1-{{ checksum "go.mod" }}
          paths:
            - "/go/pkg/mod"
      - persist_to_workspace:
          root: .
          paths: [ . ]

  run-test:
    executor: def
    steps:
      - attach_workspace:
          at: .
      - aws/install
      - aws-oidc-setup
      - run:
          name: "Unit test"
          command: |
            go test -v ./...

workflows:
  pull-request:
    jobs:
      - co:
          filters: { branches: { ignore: /main|auto-update-changelog/ } }
      - run-test:
          requires: [ co ]
          context:
            - << pipeline.parameters.ctx_iac_test >>

  workflow-selector:
    when:
      and:
        - equal: ["workflow-selector", << pipeline.parameters.triggered_flow >>]
        - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - vr/workflow-selector:
          context: << pipeline.parameters.ctx_auto_release >>

  publish-changelog:
    when:
      and:
        - equal: ["publish-changelog", << pipeline.parameters.triggered_flow >>]
    jobs:
      - vr/publish-changelog:
          context: << pipeline.parameters.ctx_auto_release >>

  publish-release-tag:
    when:
      and:
        - equal: ["publish-release-tag", << pipeline.parameters.triggered_flow >>]
    jobs:
      - vr/tag-and-release:
          context: << pipeline.parameters.ctx_auto_release >>
